/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 21cm;
  height: 29.7cm;
  background-color: #d5d6d6;
  /* to centre page on screen*/
  display: flex;
  flex-direction: column;
  /* border-bottom: 1px solid black; */
}

.head {
  background-color: #003d74;
  color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.head__me {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.head__title {
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.head__info {
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 15px;
}

.head__contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  margin-left: 10px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.head__contact a {
  margin-bottom: 8px;
}

.head__contact i {
  margin-right: 8px;
  width: 15px;
}

.head h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
}

.head h3 {
  font-size: 18px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
  font-weight: 300;
}

.page__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 1;
  padding: 20px;
}

.page__container section {
  margin-bottom: 40px;
}

.page__container p {
  color: #343434;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Nanum Gothic", sans-serif;
}

.item__title {
  color: #002e58;
  font-size: 22px;
  font-weight: 600;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
}

hr {
  margin-bottom: 15px;
  width: 100%;
}

.skill__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.skill__part {
  margin-bottom: 20px;
}

.skill__part h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
}

.skill__part ul {
  list-style-type: disc;
  margin-left: 30px;
}

.skill__part ul li:not(:last-child) {
  margin-bottom: 8px;
}

.skill__item {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.skill__col {
  width: 220px;
  display: flex;
  flex-direction: row;
}

.skill__col h4 {
  width: 100px;
}

.skill__col .rating {
  width: 100px;
}

.item__container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}

.item__year {
  min-width: 100px;
  color: #343434;
  font-weight: 600;
  display: flex;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
}

.item__content {
  padding-right: 10px;
}

.item__content-role {
  font-weight: bold;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}

.item__content-company {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
}

.item__content-summary {
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Nanum Gothic", sans-serif;
}

.item__content-resp {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
  color: #002e58;
}

.ul__resp {
  list-style-type: disc;
  margin-left: 25px;
  font-weight: 300;
}

.ul__resp li {
  font-size: 15px;
  margin-bottom: 8px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 0 3px 0;
}

.subitem__title {
  font-size: 15px;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 0.8px;
  font-weight: 400;
  flex-grow: 1;
}

.rating div {
  width: 10px;
  height: 10px;
  background-color: #d5d6d6;
  border-radius: 50%;
}

.rating div:not(:first-child) {
  margin-left: 4px;
}

.rating .checked {
  background-color: #002e58;
}

.rating span {
  font-size: 12px;
  font-family: "Nanum Gothic", sans-serif;
  color: #002e58;
}

.activity {
  list-style-type: disc;
  margin-left: 30px;
}

.activity li:not(:last-child) {
  margin-bottom: 8px;
}

.activity li {
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
}
